ion-content {
    --ion-background-color: var(--ion-color-secondary);

    .animated-bg {
        height: 100%;
        background-image: url('/assets/nuts-pattern.svg');
        background-size: cover;
        animation: scroll 160s linear infinite;
    }
}

ion-slides {
    height: 100%;

    .slide {
        display: flex;
        flex-direction: column;
    }
}

@keyframes scroll {
    100% {
        background-position: 0px 3000px;
    }
}