<ion-content>
  <div class="animated-bg">
    <ion-slides
      (ionSlideReachEnd)="setSelectedPage(2)"
      (ionSlideReachStart)="setSelectedPage(1)"
      #slides
    >
      <ion-slide class="slide">
        <squilo-page-slider
          (onClick)="onClickPageSlider($event)"
          [index]="selectedPage"
        ></squilo-page-slider>
        <squilo-login-slide></squilo-login-slide>
      </ion-slide>
      <ion-slide class="slide">
        <squilo-page-slider
          (onClick)="onClickPageSlider($event)"
          [index]="selectedPage"
        ></squilo-page-slider>
        <squilo-signup-slide
          (signupCompleted)="signupCompleted($event)"
        ></squilo-signup-slide>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
