<form [formGroup]="form" (ngSubmit)="submit()">
  <ion-grid>
    <ion-row>
      <ion-card color="primary">
        <ion-item lines="none" color="primary">
          <ion-label position="stacked">email</ion-label>
          <ion-input
            type="text"
            placeholder="your email"
            formControlName="email"
          ></ion-input>
        </ion-item>
        <ion-item lines="none" color="primary">
          <ion-label position="stacked" minlength="6">Password</ion-label>
          <ion-input
            type="password"
            placeholder="******"
            formControlName="password"
          ></ion-input>
        </ion-item>
        <ion-item lines="none" color="primary">
          <ion-label (click)="forgot()" class="forgot"> Forgot? </ion-label>
        </ion-item>
      </ion-card>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button type="submit" [disabled]="!form.valid" class="btn"
        >Login</ion-button
      >
    </ion-row>
  </ion-grid>
</form>
